.book-section{
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #ffffff;
    min-height: 900px;
    align-items: left;
    padding-bottom: 120px;
    bottom: 0px;
}

.books{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;

}

.book{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    margin: 25px;
    margin-bottom: 0px;
    cursor: pointer;
}

.book-cover{
    display: flex;
    height: auto;
    max-height: 240px;
    border-radius: 8px;
}

.book-name{
    position: relative;
    font-weight: 500;
}

.liked-book-name{
    position: relative;
    font-weight: 500;
}

.book-author {
    position: relative;
    font-weight: 300;
}

.book-price{
    position: relative;
    font-weight: 300;
}

.liked-book-author {
    position: relative;
    font-weight: 300;
}

.liked-book-price{
    position: relative;
    font-weight: 300;
}

.add-liked-book{
    position: relative;
    top: -30px;
    color: white;
    left: -50px;
    background-color: black;
    border-radius: 50%;
}

.add-book-to-cart{
    position: relative;
    color: white;
    background-color: black;
    border-radius: 25%;
}

.remove-liked-book{
    position: relative;
    top: -100px;
    color: white;
    left: -50px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
}

.remove-book{
    color: white;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
}

.book-div{
    display: flex;
    flex-flow: row;
    padding: 50px;
    background-color: #e0bea4;
    min-height: 600px;
}

.book-info{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin-right: 40px;
}

.book-info-name{
   
    font-weight: 500;
}

.book-info-author{
   
    font-weight: 300;
}

.book-info-desc{
    font-weight: 200;
}

.book-info-cover{
    display: flex;
    height: auto;
    max-width: 300px;
    max-height: 270px;
}

.pageNumbers{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    
}

.page-button{
    margin: 10px;
    border-radius: 50%;
    color: white;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}

.total{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.change-settings-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.change-book-settings{
    position: relative;
    cursor: pointer;
}

.change-book-settings-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 10px;
}

.change-book-form{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.books-form-input{
    display: flex;
    margin: 5px;
    border-radius: 10%;
}

.books-form-buttom{
    border: 0;
    cursor: pointer;
}

.admin-settings{
    justify-content: space-evenly;
    flex-direction: row;
    position: absolute;
    top: 100px;
    background-color: white;
    border-radius: 20px;
    align-items: center;
    width: 70px;
    height: 40px;
    display: none;
}

.book:hover {
    cursor: pointer;
}

.book:hover .admin-settings{
    display: flex;
}

.settings-button{
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

.new-book-button{
    padding: 0;
    cursor: pointer;
    position: absolute;
    margin: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 140px;
    border-radius: 10px;
    
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    position: relative;
  }
  
  .close-modal-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .checkout-section{
    display: flex;
    flex-direction: row;
    justify-content: center ;
  }

  .checkout-button{
    width: 120px;
    margin-top: 20px;
    border-radius: 15px;
    background-color: beige;
  }