.not-found-page{
    text-align: center;
    padding: 50px;
}

.not-found{
    font-size: 3rem;
    color: lightgray;
}

.home-page-button{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #B5651D;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}